/* PHASE 2: Notifications */
.badge {
  background-color: blue;
    border-radius: 48%;
    width: 20px;
    text-align: center;
    height: 20px;
}

span {
  display: inline-block;  
}

.dropdown {
  display: none;
  background-color: #000000;
  position: absolute;
}

.notifications {
  position: relative;
}

.notifications:hover .dropdown {
  display: block;
}